.vscode
*/__pycache__
__pycache__
.pytest_cache/
/venv
*.rdb
pri-venv
.DS_Store
.idea
*.code-workspace
*.log
.ipynb_checkpoints
*/.ipynb_checkpoints/*

env
*.hdf5
*.db

.theia/
*.tiff
*.tif

.env
config.py