version: '3.7'

services:
  app:
    container_name: highres_seg_demo
    build: .
    command: sh -c "python scripts/save_mlflow_algorithm.py || true && gunicorn -b 0.0.0.0:8075 --reload app:server"
    environment:
      DATA_TILED_URI: '${DATA_TILED_URI}'
      DATA_TILED_API_KEY: '${DATA_TILED_API_KEY}'
      MASK_TILED_URI: '${MASK_TILED_URI}'
      MASK_TILED_API_KEY: '${MASK_TILED_API_KEY}'
      SEG_TILED_URI: '${SEG_TILED_URI}'
      SEG_TILED_API_KEY: '${SEG_TILED_API_KEY}'
      USER_NAME: '${USER_NAME}'
      USER_PASSWORD: '${USER_PASSWORD}'
      RESULTS_DIR: '${RESULTS_DIR}'
      WRITE_DIR: '${WRITE_DIR}'
      PREFECT_API_URL: '${PREFECT_API_URL}'
      FLOW_NAME: '${FLOW_NAME}'
      TIMEZONE: '${TIMEZONE}'
      # MLflow
      MLFLOW_TRACKING_URI: '${MLFLOW_TRACKING_URI}'
      MLFLOW_TRACKING_USERNAME: '${MLFLOW_TRACKING_USERNAME}'
      MLFLOW_TRACKING_PASSWORD: '${MLFLOW_TRACKING_PASSWORD}'
      # MLflow algorithm registration
      MLFLOW_TRACKING_URI_OUTSIDE: '${MLFLOW_TRACKING_URI}'
      ALGORITHM_JSON_PATH: '/app/assets/models.json'
    volumes:
      - ${MOUNT_RESULTS_DIR}:/app/work/results
    ports:
      - '127.0.0.1:8075:8075'
    networks:
      mlex_tomo_framework_mle_net:


networks:
  mlex_tomo_framework_mle_net:
    driver: bridge
    external: true
