.flex-row {
    display: flex;
    flex-direction: row;
}

.mantine-Grid-col>.mantine-1avyp1d {
    margin: auto;
}


.mantine-1oydwvi {
    border: 1px solid white;
}

/* vertically align switch */
.mantine-15po0m8 {
    margin: auto;
}

/* less padding on buttons */
.mantine-1ezgr03 {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
}

/* bold accordion titles*/
.mantine-pildck {
    font-weight: bold;
}

/* make figure viewfinder transparent */
#image-viewfinder {
    filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
}

/* remove mouse pointer from the figure viewfinder */
#image-viewfinder * {
    pointer-events: none !important;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}

.mantine-1l0xknd {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: white;
}

.mantine-pildck {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    color: #00313C;
}

.mantine-Drawer-header {
    background-color: #00313C;
    padding: 10px;
    margin: 0px;
}

.mantine-Drawer-drawer {
    padding: 0px;
    min-height: 100vh;
}

.mantine-Accordion-item {
    padding-right: 5px;
    padding-left: 5px;
}

.mantine-1dcetaa:hover {
    background-color: #00313C;
}

#drawer-controls-open-button {
    background-color: #f5f5f57f;
    color: #00313C;
    border: 1px solid #00313C;
}

#clear-all {
    border: 1px solid #E04E39;
    color: #E04E39;
}

#clear-all:hover {
    background-color: #e04f3909;
}

#open-data-management-modal-button {
    color: #00313C;
    border: 1px solid #00313C;
}

#open-data-management-modal-button:hover {
    background-color: #00313c0e;
}

.mantine-UnstyledButton-root.mantine-Button-root.add-class-btn.mantine-l8qp3y {
    color: #9EA4AB !important;
    border-color: #EAECEF !important;
}

.add-class-btn:hover,
.annotation-class:hover {
    background-color: #EAECEF !important;
    cursor: pointer;
}

.mantine-UnstyledButton-root.mantine-Button-root.mantine-8nr514 {
    color: white !important;
    background-color: #007681 !important;
}

.mantine-UnstyledButton-root.mantine-Button-root.mantine-8nr514:disabled {
    background-color: rgb(233, 236, 239) !important;
    color: rgb(173, 181, 189) !important;
}