.flex-row {
    display: flex;
    flex-direction: row;
}

.mantine-Grid-col>.mantine-1avyp1d {
    margin: auto;
}


/* make figure viewfinder transparent */
#image-viewfinder {
    filter: opacity(0.5);
    -webkit-filter: opacity(0.5);
}

/* remove mouse pointer from the figure viewfinder */
#image-viewfinder * {
    pointer-events: none !important;
}

body {
    margin: 0px;
    padding: 0px;
}